<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style.css" rel="stylesheet" type="text/css">
<title>Typical Climate</title>
</head>
<body>
    <div>
        <p>Доступные на складе товары</p>
        <table>
            <tr>
               <th>ID</th>
               <th>Наименование</th>
               <th>Длина</th>
               <th>Ширина</th>
               <th>Высота</th>
               <th>Вес</th>
               <th>ID чейки</th>
            </tr>
            {% for item_id, item_name, item_size_x, item_size_y, item_size_z, item_weight, item_stowage_id in items %}
                <tr>
                    <td>{{ item_id }}</td>
                    <td>{{ item_name }}</td>
                    <td>{{ item_size_x }}</td>
                    <td>{{ item_size_y }}</td>
                    <td>{{ item_size_z }}</td>
                    <td>{{ item_weight }}</td>
                    <td>{{ item_stowage_id }}</td>
                    <td><a href="">Выдать</a></td>
                </tr>
                {% endfor %}
        </table>
        <form action="/put" method="post">
            <button type="submit">Распределить</button>
        </form>
    </div>
    <div>
    <p>Добавить товар</p>
    <form action="/" method="post" novalidate>
        <table>
            <tr>
                <th>Наименование</th>
                <th>Длина</th>
                <th>Ширина</th>
                <th>Высота</th>
                <th>Вес</th>
            </tr>
            <tr>
                {% for field in form1 %}
                    <td>{{ field }} </td>
                {% endfor %}
            </tr>
        </table>
        <p>{{ form1.submit() }}</p>
    </form>
    </div>
    <div>
        <p>Схема склада</p>
        <table>
           <tr>
               <th>ID</th>
               <th>Ряд</th>
               <th>Ярус</th>
               <th>Ширина</th>
               <th>Высота</th>
               <th>Глубина</th>
               <th>JSON</th>
               <th>Пуста?</th>
           </tr>
            {% for stowage_id, stowage_row, stowage_level, stowage_size_x, stowage_size_y, stowage_size_z, stowage_json, stowage_empty in stowages %}
                <tr>
                    <td>{{ stowage_id }}</td>
                    <td>{{ stowage_row }}</td>
                    <td>{{ stowage_level }}</td>
                    <td>{{ stowage_size_x }}</td>
                    <td>{{ stowage_size_y }}</td>
                    <td>{{ stowage_size_z }}</td>
                    <td>{{ stowage_json }}</td>
                    <td>{{ stowage_empty }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</body>
</html>