<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style.css" rel="stylesheet" type="text/css">
<title>Typical Climate</title>
</head>
<body>
    <div>
    <p>Добавить накладную</p>
    <form action="" method="post" novalidate>
        <table>
            <tr>
                <th>Наименование</th>
                <th>Длина</th>
                <th>Ширина</th>
                <th>Высота</th>
                <th>Вес</th>
            </tr>
            <tr>
                <td>{{ form1.name.label }}{{ form1.name(size=50) }}</td>
                <td>{{ form1.size_x.label }}{{ form1.size_x(size=4) }}</td>
                <td>{{ form1.size_y.label }}{{ form1.size_y(size=4) }}</td>
                <td>{{ form1.size_z.label }}{{ form1.size_z(size=4) }}</td>
                <td>{{ form1.weight.label }}{{ form1.weight(size=4) }}</td>
            </tr>

        </table>
        <p>{{ form1.submit() }}</p>
    </form>
    </div>

    <div>
        <p>Доступные на складе товары</p>
        <table>
           <tr>
               <th>ID</th>
               <th>Наименование</th>
               <th>Длина</th>
               <th>Ширина</th>
               <th>Высота</th>
               <th>Вес</th>
           </tr>
            {% for item_id, item_name, item_size_x, item_size_y, item_size_z, item_weight in items %}
                <tr>
                    <td>{{ item_id }}</td>
                    <td>{{ item_name }}</td>
                    <td>{{ item_size_x }}</td>
                    <td>{{ item_size_y }}</td>
                    <td>{{ item_size_z }}</td>
                    <td>{{ item_weight }}</td>
                    <td>Выдать </td>
                </tr>
                {% endfor %}
        </table>
    </div>

    <div>
        <p>Схема склада</p>
        <table>
           <tr>
               <th>Наименование ячейки</th>
               <th>Ширина</th>
               <th>Высота</th>
               <th>Глубина</th>
               <th>ID товара</th>
           </tr>
            {% for stowage_name, stowage_size_x, stowage_size_y, stowage_size_z, stowage_item_id in stowages %}
                <tr>
                    <td>{{ stowage_name }}</td>
                    <td>{{ stowage_size_x }}</td>
                    <td>{{ stowage_size_y }}</td>
                    <td>{{ stowage_size_z }}</td>
                    <td>{{ stowage_item_id }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</body>
</html>